* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header {      
    position: fixed; 
    right: 0;
    left: 300px;
    background-color: #080b12;
    z-index: 1;
}

.page-container {
    display: flex;
    height: calc(100% - 80px);
    
    color: gray;
}

aside {
    width: 300px;
    background-color: black;
    overflow-y: auto;
}

.text-aside {
    font-size: 16px;
    margin: 15px 0;
}

main {
    width: calc(100% - 300px);
    overflow-y: auto;
    background-color: #141922;
}

footer {
    height: 80px;
    
}

.top-aside-600 {
    display: none;
}

.down-end-aside-600 {
    display: none;
}

i {
    margin-right: 5px;
}
/* ----------
    HEADER
----------- */
.upgrade {
    text-align: right;
}
.btn-upgrade {
    padding: 15px 40px;
    border-radius: 100px;
    background-color: transparent;
    color: white;
    border-color: white;
    margin: 20px 5px;
}

.btn-upgrade:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* ---------
    ASIDE
    -------- */
    .container {
       margin: 20px; 

    }
    .logo-spotify {
    width: 140px;
    color: white;
    }

    .down-aside-700-1100 {
        margin-top: 30px;
    }

    .plus-square {
        font-size: 40px;
        margin-right: 10px;
    }

    .down-end-aside-700-1100 {
        margin-top: 400px;
    }

.create-playlist {
    display: flex;
    align-items: center;
}

.circle-arrow {
    background-color: transparent;
    color: gray;
    border: none;
}

.arrow {
    border: 1px solid gray;
    border-radius: 100%;
    padding: 7px;
    text-align: center;
}
.circle-user {
    font-size: 40px;
    margin-right: 10px;
}

.create-user {
    display: flex;
    align-items: center;
}

.text-aside:hover {
    color: white;
    cursor: pointer;
}

/* -------
    FOOTER
    ------ */
    .container-footer {
        width: 100%;
        display: flex;
        height: 100%;
        color: gray;
    }

    .col-left {
        width: 30%;
        background-color: #282828;
        display: flex;
    }

    .col-center {
        width: 70%;
        background-color: #282828;
        padding: 15px;
        color: white;
    }

    .icons-center {
        display: flex;
        justify-content: center;  
    }
    .barra-musica {
        width: calc(100% / 2);
        display: flex;
        align-items: center;
        margin: 0px 25px;
    }
    .short {
        width: 30%;
        height: 5px;
        border: 1px solid white;
        background: white;
        border-radius: 100px;
    }

    .short:hover {
        background-color: rgb(51, 160, 51);
        border: 1px solid rgb(51, 160, 51);
        cursor: pointer;    
    }

    .long {
        width: 70%;
        height: 4px;
        border: 1px solid gray;
        background: gray;
        border-radius: 100px;
    }
    
    .barra-center {
        display: flex;
        justify-content: center;
    }

    .col-right {
        width: 30%;
        background-color: #282828;
        display: flex;
        align-items: center;
        color: white;
    }
    

    .container-left {
        display: flex;
        padding: 15px;
        width: 70%;
    }

    .container-right {
        display: flex;
        align-items: center;
    }

    .img-footer {
        height: 100%;
    }
    .name-brano {
        margin-left: 15px;
    }

    i {
        margin-right: 10px;
    }

    .icons-footer {
        padding: 5px 7px;
    }

    .icons-footer:nth-child(3) {
        font-size: 25px;
        padding: 0 0;
    }

    /* .icons-footer:nth-child(1 2 4 5) {
        padding: 15px
    } */
@media screen and (max-width:660px) {
    .container {
        text-align: center;
        margin: 0 auto; 
     }
    aside {
        width: 50px;
    }
    main {
        width: calc(100% - 50px);
    }
    header {      
        position: fixed; 
        right: 0;
        left: 50px;
/*         background-color: red;
 */    }
    .top-aside-700-1100 {
        display: none;
    }
    .top-aside-600 {
        display: block;
        margin-top: 10px;
    }
    .down-aside-700-1100 {
        display: none;
    }
    .logo-mobile {
        width: 30px;
        color: white;
    }
    .down-end-aside-700-1100 {
        display: none;
    }
    .down-end-aside-600 {
        display: block;
        margin-top: 700px;
    }
    hr {
        background-color: gray;
    }
    .arrow {
        font-size: 8px;
        margin-left: 10px;
    }
    .circle-user {
        font-size: 30px;
        margin-left: 10px;
    }
}

/* -------------
    MAIN
    ------------ */

    /* nav */
    .container-nav {
        width: 100%;
        margin-top: 90px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #141922;
    }

    .text-nav {
        background-color: #141922;
        justify-content: center;
        margin: 20px;
        margin: 15px 10px;
    }

    .line-bottom {
        width: 100%;
        border-bottom: 1px solid lightgreen;
        display: none;
    }

    .btn-nav:hover + .line-bottom {
        display: block;
    }

    

    .btn-nav {
        background-color: transparent;
        border: none;
        color: gray;
    }

    .btn-nav:hover {
        color: white;
        cursor: pointer;
    }

    /* box */
    .container-title-box {
        margin: 30px 0 30px 20px;
        color: white;
        background-color: #141922;
    }

    .container-box {
        display: flex;             
    }

    .box-700 {
        display: flex;      
        width: 100%;
    }

    .box {
        width: 100%;
        margin: 0 20px;
        position: relative;
    }

    .play-box {
        position: absolute;
        top: 55px;
        left: 55px;
        font-size: 43px;
        color: white;
        display: none;
    }

    /* img.play-box:hover {
        display: block;
    } */

    img:hover + .play-box {
        display: block;
    }

    

    .container-box-fixed {
        width: 50%;
        display: flex;
        /* height: 50px; */
    }

    .box-fixed {
        width: 25%;
        margin: 0 20px;
        position: relative;
    }
    img {
        width: 100%;
    }
    .bottom-box {
        text-align: center;
    }

    h3 {
        color: white;
    }
    /* media 700 box */
    @media screen and (max-width:700px) {
        .container-box {
            display: flex;
            flex-direction: column;
        }
        .box-700 {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
        }
        .box {
            width: 50%;
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 10px;
        }

        .container-box-fixed {
            width: 100%;
        }
        .box-fixed {
            width: 50%;
    }
    }
    

    .container-box-fixed:last-child {
        margin-bottom: 30px;
        
    }

    .small-box {
        color: gray;
    }

    .icons-animation:hover {
        transform: scale(1.5);
        cursor: pointer;
    }

    img:hover {
        filter: opacity(0.5);
    }

    .icons-footer-left:hover {
        color: white;
        cursor: pointer;
    }

    


