* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header {      
    position: fixed; 
    right: 0;
    left: 300px;
    background-color: #080b12;
}

.page-container {
    display: flex;
    height: calc(100% - 80px);
    
    color: gray;
}

aside {
    width: 300px;
    background-color: black;
    overflow-y: auto;
}

.text-aside {
    font-size: 16px;
    margin: 15px 0;
}

main {
    width: calc(100% - 300px);
    overflow-y: auto;
    background-color: #141922;
}

footer {
    height: 80px;
    
}

.top-aside-600 {
    display: none;
}

.down-end-aside-600 {
    display: none;
}

i {
    margin-right: 5px;
}
/* ----------
    HEADER
----------- */
.upgrade {
    text-align: right;
}
.btn-upgrade {
    padding: 15px 40px;
    border-radius: 100px;
    background-color: transparent;
    color: white;
    border-color: white;
    margin: 20px 5px;
}

/* ---------
    ASIDE
    -------- */
    .container {
       margin: 20px; 

    }
    .logo-spotify {
    width: 140px;
    color: white;
    }

    .down-aside-700-1100 {
        margin-top: 30px;
    }

    .plus-square {
        font-size: 40px;
        margin-right: 10px;
    }

    .down-end-aside-700-1100 {
        margin-top: 400px;
    }

.create-playlist {
    display: flex;
    align-items: center;
}

.circle-arrow {
    background-color: transparent;
    color: gray;
    border: none;
}

.arrow {
    border: 1px solid gray;
    border-radius: 100%;
    padding: 7px;
    text-align: center;
}
.circle-user {
    font-size: 40px;
    margin-right: 10px;
}

.create-user {
    display: flex;
    align-items: center;
}

/* -------
    FOOTER
    ------ */
    .container-footer {
        width: 100%;
        display: flex;
        border: 1px solid white;
        height: 100%;
    }

    .col-left {
        width: calc(100% / 3);
        background-color: #282828;
        border: 1px solid red;
    }

    .col-center {
        width: calc(100% / 3);
        background-color: #282828;
        border: 1px solid red;
    }

    .col-right {
        width: calc(100% / 3);
        background-color: #282828;
        border: 1px solid red;
    }



@media screen and (max-width:660px) {
    .container {
        text-align: center;
        margin: 0 auto; 
     }
    aside {
        width: 50px;
    }
    main {
        width: calc(100% - 50px);
    }
    header {      
        position: fixed; 
        right: 0;
        left: 50px;
/*         background-color: red;
 */    }
    .top-aside-700-1100 {
        display: none;
    }
    .top-aside-600 {
        display: block;
    }
    .down-aside-700-1100 {
        display: none;
    }
    .logo-mobile {
        width: 30px;
        color: white;
    }
    .down-end-aside-700-1100 {
        display: none;
    }
    .down-end-aside-600 {
        display: block;
        margin-top: 700px;
    }
    hr {
        background-color: gray;
    }
    .arrow {
        font-size: 8px;
        margin-left: 5px;
    }
    .circle-user {
        font-size: 30px;
        margin-left: 10px;
    }
}

/* -------------
    MAIN
    ------------ */

    /* nav */
    .container-nav {
        width: 100%;
        margin-top: 90px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #141922;
    }

    .text-nav {
        height: 50px;
        background-color: #141922;
        border: 1px dashed white;
        display: flex;
        justify-content: center;
        margin: 20px;
        margin: 0px 10px;
    }

    .btn-nav {
        background-color: transparent;
        border: none;
        color: gray;
    }

    /* box */
    .container-title-box {
        margin: 30px 0 30px 20px;
        color: white;
        background-color: #141922;
    }

    .container-box {
        display: flex;      
        border: dashed 1px red;
        height: 50px;       
    }

    .box-700 {
        display: flex;      
        border: dashed 1px red;
        height: 50px;
        width: 100%;
    }

    .box {
        width: 100%;
        border: 1px solid yellow;
        margin: 0 20px;
    }
    /* media 700 box */
    @media screen and (max-width:700px) {
        .box-700 {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        .box {
            width: 50%;
            display: flex;
            flex-wrap: nowrap;
        }
    }
    

    .container-box-fixed:last-child {
        margin-bottom: 30px;
        
    }

    .small-box {
        color: gray;
    }

    .container-box-fixed {
        width: 50%;
        display: flex;
        border: dashed 1px red;
        height: 50px;
    }

    .box-fixed {
        width: 25%;
        height: 50px;
        border: 1px solid yellow;
        margin: 0 20px;
    }
